<!DOCTYPE html>
<html lang="en">

{% include "admin_panel/header.html" %}
<!-- <style>
  #main{
    min-height: 100vh;
  }
  footer{
    position: sticky;
    bottom: 0;
  }
</style> -->
<body>

  <!-- ======= Header ======= -->
  {% include "admin_panel/navbar.html" %}
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  {% include "admin_panel/sidebar.html" %}
  <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Buy Details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin_dashboard">Home</a></li>
          <li class="breadcrumb-item active">Buy Details</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="card">
          <div class="card-body">
            <div class="profile-overview mt-3">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Sessioncontext:</div>
                            <div class="col-lg-12">{{data.buy.SESSIONCONTEXT}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Sendersubid:</div>
                            <div class="col-lg-12">{{data.buy.SENDERSUBID}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">log Tp:</div>
                            <div class="col-lg-12">{{data.buy.LOGTP}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Version No:</div>
                            <div class="col-lg-12">{{data.buy.VERSIONNO}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Txn Type:</div>
                            <div class="col-lg-12">{{data.buy.TXNTYPE}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Order Mode:</div>
                            <div class="col-lg-12">{{data.buy.ORDERMODE}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Tran Source:</div>
                            <div class="col-lg-12">{{data.buy.TRANSOURCE}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Folio Txn Flag:</div>
                            <div class="col-lg-12">{{data.buy.FOLIOTXNFLAG}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Txn Event:</div>
                            <div class="col-lg-12">{{data.buy.TXNEVENT}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Page For Role:</div>
                            <div class="col-lg-12">{{data.buy.PAGEFORROLE}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Can:</div>
                            <div class="col-lg-12">{{data.buy.CAN}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Joint Holder Flag:</div>
                            <div class="col-lg-12">{{data.buy.JOINTHOLDERFLAG}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Holder Detail:</div>
                            <div class="col-lg-12">{{data.buy.HOLDERDETAIL}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Redirect Flag:</div>
                            <div class="col-lg-12">{{data.buy.DIRECTFLAG}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Ria Flag:</div>
                            <div class="col-lg-12">{{data.buy.RIAFLAG}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Ria Code:</div>
                            <div class="col-lg-12">{{data.buy.RIACODE}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">ARN Type:</div>
                            <div class="col-lg-12">{{data.buy.ARNTYPE}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">ARN Code:</div>
                            <div class="col-lg-12">{{data.buy.ARNCODE}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Sub BRK ARN Label:</div>
                            <div class="col-lg-12">{{data.buy.SUBBRKARNLABEL}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Sub BRK ARN Type:</div>
                            <div class="col-lg-12">{{data.buy.SUBBRKARNTYPE}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Sub BRK ARN Code:</div>
                            <div class="col-lg-12">{{data.buy.SUBBRKARNCODE}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Sub Brok Code:</div>
                            <div class="col-lg-12">{{data.buy.SUBBROKCODE}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Branch RM Internal Code:</div>
                            <div class="col-lg-12">{{data.buy.BRANCHRMINTERNALCODE}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Euin Code</div>
                          <div class="col-lg-12">{{data.buy.}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Euin Declaration</div>
                          <div class="col-lg-12">{{data.buy.EUINCODE}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Depository Flag</div>
                          <div class="col-lg-12">{{data.buy.DEPOSITORYFLAG}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Dp Type</div>
                          <div class="col-lg-12">{{data.buy.DPTYPE}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">INV Dp Acc No</div>
                          <div class="col-lg-12">{{data.buy.INVDPACCNO}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">PAYMENT Flag</div>
                          <div class="col-lg-12">{{data.buy.PAYMENTFLAG}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Payment Instrumenttype</div>
                          <div class="col-lg-12">{{data.buy.PAYMENT_INSTRUMENTTYPE}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Payment Bankid</div>
                          <div class="col-lg-12">{{data.buy.PAYMENT_BANKID}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Payment Invacctype</div>
                          <div class="col-lg-12">{{data.buy.PAYMENT_INVACCTYPE}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Payment Micrno</div>
                          <div class="col-lg-12">{{data.buy.PAYMENT_MICRNO}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Payment Ifsccode</div>
                          <div class="col-lg-12">{{data.buy.PAYMENT_IFSCCODE}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Inst Date</div>
                          <div class="col-lg-12">{{data.buy.INSTDATE}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Payment Inv Acc No</div>
                          <div class="col-lg-12">{{data.buy.PAYMENT_INVACCNO}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Payment Txn Done Flag</div>
                          <div class="col-lg-12">{{data.buy.PAYMENT_TXNDONEFLAG}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Payment Ref No</div>
                          <div class="col-lg-12">{{data.buy.PAYMENTREFNO}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Payment new VANF lag</div>
                          <div class="col-lg-12">{{data.buy.PAYMENT_NEWVANFLAG}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Payment VirtAccNo</div>
                          <div class="col-lg-12">{{data.buy.PAYMENT_VIRTACCNO}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Payment Amount</div>
                          <div class="col-lg-12">{{data.buy.PAYMENTAMOUNT}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Total Amount</div>
                          <div class="col-lg-12">{{data.buy.TOTALAMOUNT}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Ext Group Ref No</div>
                          <div class="col-lg-12">{{data.buy.EXTGROUPREFNO}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">No Of Schemes</div>
                          <div class="col-lg-12">{{data.buy.NOOFSCHEMES}}</div>
                      </div>
                  </div>
                  
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Hold Nat</div>
                          <div class="col-lg-12">{{data.buy.HOLDNAT}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Tax Status</div>
                          <div class="col-lg-12">{{data.buy.TAXSTATUS}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Pri Pan Or Pekrn</div>
                          <div class="col-lg-12">{{data.buy.PRIPANORPEKRN}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Sec Pan Or Pekrn</div>
                          <div class="col-lg-12">{{data.buy.SECPANORPEKRN}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Thr Pan Or Pekrn</div>
                          <div class="col-lg-12">{{data.buy.THRPANORPEKRN}}</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12 label">Gur Pan Or Pekrn</div>
                          <div class="col-lg-12">{{data.buy.GURPANORPEKRN}}</div>
                      </div>
                  </div> 
                                                   
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">GORN NUMBER</div>
                            <div class="col-lg-12">{{data.buy.GROUPORDERNO}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">APP LINK PRIM</div>
                            <div class="col-lg-12"> <a href="{{data.buy.APPLINKPRIM}}" target="_blank">{{data.buy.APPLINKPRIM}}</a></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">NET BANKING LINK</div>
                            <div class="col-lg-12"><a href="{{data.buy.NETBANKINGLINK}}" target="_blank">{{data.buy.NETBANKINGLINK}}</a></div>
                        </div>
                    </div> 
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">FOLIO NUMBER</div>
                            <div class="col-lg-12">{{data.buy.FOLIONUMBER}}</div>
                        </div>
                    </div> 
                </div>
                {% for i in data.buy_schemes %}
                <hr class="dropdown-divider">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Record No</div>
                            <div class="col-lg-12">{{i.RECORDNO}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Ext Unique RefId</div>
                            <div class="col-lg-12">{{i.EXTUNIQUEREFID}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Folio Acc No</div>
                            <div class="col-lg-12">{{i.FOLIOACCNO}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Folio Check Digit</div>
                            <div class="col-lg-12">{{i.FOLIOCHECKDIGIT}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Rta Amc Code</div>
                            <div class="col-lg-12">{{i.RTAAMCCODE}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Rta Scheme Code</div>
                            <div class="col-lg-12">{{i.RTASCHEMECODE}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Dividend Option</div>
                            <div class="col-lg-12">{{i.DIVIDENDOPTION}}</div>
                        </div>
                    </div>
                    {% comment %}<div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Txn Volume Type</div>
                            <div class="col-lg-12">{{data.buy.}}</div>
                        </div>
                    </div>{% endcomment %}
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">Txn Volume</div>
                            <div class="col-lg-12">{{i.TXNVOLUME}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">FREQUENCY</div>
                            <div class="col-lg-12">{{i.FREQUENCY}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">DAY</div>
                            <div class="col-lg-12">{{i.DAY}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">START_MONTH</div>
                            <div class="col-lg-12">{{i.START_MONTH}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">START_YEAR</div>
                            <div class="col-lg-12">{{i.START_YEAR}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">END_MONTH</div>
                            <div class="col-lg-12">{{i.END_MONTH}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 label">END_YEAR</div>
                            <div class="col-lg-12">{{i.END_YEAR}}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
          </div>
        </div>
        
    </section>

  </main><!-- End #main -->
  <!-- Modal -->

  <!-- ======= Footer ======= -->
  {% comment %} <?php include 'footer.php';?> {% endcomment %}

  {% include "admin_panel/script.html" %}
</body>

</html>