<!DOCTYPE html>
<html lang="en">

{% include "admin_panel/header.html" %}
<!-- <style>
  #main{
    min-height: 100vh;
  }
  footer{
    position: sticky;
    bottom: 0;
  }
</style> -->
<body>
  {% include "admin_panel/navbar.html" %}
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  {% include "admin_panel/sidebar.html" %}
  <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Can Error</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin_dashboard">Home</a></li>
          <li class="breadcrumb-item active">Error Can</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="row mt-3">
                    {% comment %} <div class="add_btn text-end">
                        <button type="button" class="btn btn_new_color" data-bs-toggle="modal" data-bs-target="#add_amc">Add AMC</button>   
                    </div> {% endcomment %}
                    
                    <div class="col-lg-12">
                        {% comment %} <h5 class="card-title">Customer</h5> {% endcomment %}
                        <div class="table-responsive">
                            <table id="can_error_list_table" class="table table-bordered data_tbl">
                                <thead>
                                  <tr>
                                    <th width="8%" class="text-center">Sr. No.</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Pan No</th>
                                    <th class="text-center">Mobile No</th>
                                    <th class="text-center">Email Id</th>
                                    <th width="10%" class="text-center">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                      <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle py-1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                          Action
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item py-1" href="#" data-bs-toggle="modal" data-bs-target="#edit_amc">Edit</a></li>
                                        <li><a class="dropdown-item py-1" href="#" data-bs-toggle="modal" data-bs-target="#edit_amc">Deactive</a></li>
                                        </ul>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  {% comment %} <?php include 'footer.php';?> {% endcomment %}
  <!-- Modal -->
  <div class="modal fade" id="view_req_res" tabindex="-1" aria-labelledby="add_amcLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add_amcLabel">View Request & Response</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  {% comment %} <div class="modal fade" id="edit_amc" tabindex="-1" aria-labelledby="edit_amcLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit_amcLabel">Edit AMC</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="edit_amc_form">
          {% csrf_token %}
            <div class="modal-body">
              <div class="mb-3">
                <label for="" class="form-label">FUND Code</label>
                <input type="text" class="form-control" id="fund_code" name="fund_code" placeholder="FUND Code" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">FUND Name</label>
                <input type="text" class="form-control" id="fund_name" name="fund_name" placeholder="FUND Name" required>
            </div>
          </div>
          <div class="modal-footer">
              <button type="submit" name="submit" class="btn btn-success">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </div> {% endcomment %}
  {% include "admin_panel/script.html" %}
  <script src="/static/admin_panel/js/customer/can_error.js"></script>
</body>

</html>