<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>investology</title>
    <link href="/static/admin_panel/img/favicon.png" rel="icon">
    <link href="/static/admin_panel/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <!-- <link href="/static/admin_panel/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link href="/static/admin_panel/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- <link href="/static/admin_panel/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"> -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link href="/static/admin_panel/vendor/quill/quill.snow.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.snow.css">
    <!-- <link href="/static/admin_panel/vendor/quill/quill.bubble.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.bubble.css">
    <!-- <link href="/static/admin_panel/vendor/remixicon/remixicon.css" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet"> -->
    <!-- <link href="/static/admin_panel/vendor/simple-datatables/style.css" rel="stylesheet"> -->
    {% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="/static/assets/vendor_components/datatable/datatables.min.css"> {% endcomment %}
   
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css" />
    <!-- Template Main CSS File -->
    <link href="/static/admin_panel/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    {% comment %} <style>
        .select2-container--default .select2-results__option[aria-selected="true"] {
            background-color: #d9d9d9;
            color: #fff;
        }

        .select2-container--default .select2-results__option[aria-selected="true"]:hover {
            color: #fff;
        }
    </style> {% endcomment %}
</head>
<div class="admin_preloader">
    <img src="/static/images/admin_Loading.gif" >
</div>

<div class="from_preloader" style="display:none">
    <img src="/static/images/form_loading.gif" >
</div>
{% comment %} 
<div id="loader">
    <div class="loader-container">
        <div class="loader-bar" id="loader-bar"></div>
        <div class="loader-percentage" id="loader-percentage">0%</div>
    </div>
</div> {% endcomment %}