<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin_dashboard">
          <i class="bi bi-grid-fill"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/customer_management">
          <i class="bi bi-people-fill"></i>
          <span>Customer Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/can_error">
          <i class="bi bi-people-fill"></i>
          <span>Can Error</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/buy_list">
          <i class="bi bi-file-earmark"></i>
          <span>Buy</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/sales_list">
          <i class="bi bi-file-earmark"></i>
          <span>Sales</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#master" data-bs-toggle="collapse" href="#">
          <i class="bi bi-server"></i><span>Master</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="master" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/scheme_category">
              <i class="bi bi-circle"></i><span>Scheme Category</span>
            </a>
          </li>
          <li>
            <a href="/scheme_sub_category">
              <i class="bi bi-circle"></i><span>Scheme Sub Category</span>
            </a>
          </li>
          <li>
            <a href="/amc">
              <i class="bi bi-circle"></i><span>AMC Master</span>
            </a>
          </li>
          <li>
            <a href="/buy_scheme">
              <i class="bi bi-circle"></i><span>Scheme Master</span>
            </a>
          </li>
          <li>
            <a href="/buy_threshold">
              <i class="bi bi-circle"></i><span>Threshold Master</span>
            </a>
          </li>
          <li>
            <a href="/cams_kfintech_scheme">
              <i class="bi bi-circle"></i><span>Cams & Kfintech Schemes</span>
            </a>
          </li>
          <li>
            <a href="/mailback_transaction">
              <i class="bi bi-circle"></i><span>Mailback Transaction</span>
            </a>
          </li>
          <li>
            <a href="/cams_kfintech_scheme_nav">
              <i class="bi bi-circle"></i><span>NAV</span>
            </a>
          </li>
          
          
          
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#client_base_reports" data-bs-toggle="collapse" href="#">
          <i class="bi bi-file-earmark-text-fill"></i><span>Client Base Reports</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="client_base_reports" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/valuation_reports">
              <i class="bi bi-circle"></i><span>Valuation Reports</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

  </aside>