<html>
	{% include 'header.html' %}
	<body class="hold-transition light-skin sidebar-mini theme-primary">
		<style type="text/css">
			.box-title {
				z-index: auto;
				font-size: 18px;
				font-weight: 500;
				color: #181c32;
			}
			.dropdown-item {
				color: #475f7b;
				font-weight: 500;
				padding: 4px 12px;
				width: auto;
				margin: 4px;
				-webkit-transition: 0.15s linear;
				transition: 0.15s linear;
			}

			.theme-primary .show > .btn-primary.dropdown-toggle {
				background-color: #103763 !important;
				border-color: #103763 !important;
				color: #ffffff;
			}

			.theme-primary .nav-tabs .nav-link.active:hover,
			.theme-primary .nav-tabs .nav-link.active:focus {
				border-bottom-color: #a6ce39;
				background-color: #a6ce39;
				color: #ffffff;
			}

			.theme-primary .nav-tabs .nav-link.active {
				border-bottom-color: #a6ce39;
				background-color: #a6ce39;
				color: #ffffff;
			}

			color: #3f4254;
		</style>
		<div class="wrapper">
			{% include 'navbar.html' %} {% include 'sidebar.html' %}

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<div class="container-full">
					<!-- Content Header (Page header) -->
					{% comment %}
					<div class="content-header">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<div class="d-inline-block align-items-center">
									<nav>
										<ol class="breadcrumb">
											<li class="breadcrumb-item">
												<a href="index.php">
													<i class="mdi mdi-home-outline"></i>
												</a>
											</li>
											<li class="breadcrumb-item active" aria-current="page">
												<a href="javascript:void(0);"> Scheme Master </a>
											</li>
										</ol>
									</nav>
								</div>
							</div>
						</div>
					</div>
					{% endcomment %}

					<!-- Main content -->
					<section class="content">
						{% include 'live_index.html' %}
						<div class="row">
							<div class="col-12">
								<div class="box box-default">
									<div class="box-header with-border flexbox">
										<h4 class="box-title">Buy FD/Bond/NCD/PMS/AIF</h4>
										<div class="text-right flex-grow">
											<button class="btn btn-danger" data-toggle="modal" data-target="#add_buy_fd_modal">Buy</button>
										</div>
									</div>
									<!-- /.box-header -->
									<div class="box-body">
										<div class="table-responsive">
											<table id="buy_fd_table" class="data_tbl table table-bordered" style="width: 100%">
												<thead>
													<tr>
														<th>Sr. No.</th>
														{% comment %}
														<th>Customer Type</th>
														{% endcomment %}
														<th>Easy Investology/RM/EP Name</th>
														<th>Easy Investology/RM/EP Username</th>
														<th>Buy Type</th>
														<th>Customer</th>
														<th>Start Date</th>
														<th>End Date</th>
														<th>Company Name</th>
														<th>Tenure</th>
														<th>Rate Of Interest</th>
														<th>Amount</th>
														<th>Brokerage Percentage</th>
														<th>Brokerage Amount</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
									<!-- /.box-body -->
								</div>
								<!-- /.box -->
							</div>

							<!-- /.col -->
						</div>
						<!-- /.row -->
					</section>
					<!-- /.content -->
					<!-- /.modal -->

					<div class="modal fade" id="add_buy_fd_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						
						<div class="modal-dialog">
							<div class="modal-content" style="width: 700px;">
								
								<form id="add_buy_fd_form" action="" method="POST">
									{% csrf_token %}
									
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">Buy FD/Bond/Ncd/PMS/AIF</h4>
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									</div>
									<div class="modal-body">
										<div class="text-right flex-grow">
                                    		<button type="button" id="mf_customer_button" class="btn btn-dark">Add New Customer</button>
                                		</div>
										<div class="row">
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>User Type<small class="text-danger"> *</small></label>
													<select name="u_type" id="u_type" class="form-control select2 u_type" required>
														<option value="" selected disabled>Select User Type</option>
														<option value="rm">Relationship Manager</option>
														<option value="ep">Easy Partner</option>
													</select>
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>User<small class="text-danger"> *</small></label>
													<select name="user" id="user" class="form-control select2 user">
														<option value="" selected disabled>Select User</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Product<small class="text-danger"> *</small></label>
													<select class="form-control select2 buy_type" name="buy_type" id="buy_type" required>
														<option value="" disabled selected>Please Select Buy Type</option>
														<option value="fd">FD</option>
														<option value="bond">BOND</option>
														<option value="ncd">NCD</option>
														<option value="pms">PMS</option>
														<option value="aif">AIF</option>
														<option value="Unlisted shares">Unlisted shares</option>
														<option value="Fractional property">Fractional property</option>
														<option value="MLD">MLD</option>
													</select>
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Customer <small class="text-danger"> *</small></label>
													<select class="form-control select2 customer" name="customer" id="customer" required>
														<option value="" disabled selected>Please Select Customer</option>
													</select>
												</div>
											</div>
											<div class="col-md-12 col-lg-12" id="fd_add_customer" hidden>
												<div class="col-md-6 col-lg-6">
													<div class="form-group">
														<label>Proposer Name<small class="text-danger">*</small></label>
														<input type="text" class="form-control" id="client_name" name="client_name" placeholder="Client Name" value="" required>
													</div>
												</div>
												<div class="col-md-6 col-lg-6">
													<div class="form-group">
														<label>Date of Birth<small class="text-danger" style="width: 10px;">*</small></label>
														<input type="date" class="form-control" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth" value="" required>
													</div>
												</div>
												
												<div class="col-md-6 col-lg-6">
													<div class="form-group">
														<label>Mobile No.<small class="text-danger">*</small></label>
														<input type="number" class="form-control" id="mobile" name="mobile" placeholder="Mobile No." value="" required>
													</div>
												</div>
												<div class="col-md-6 col-lg-6">
													<div class="form-group">
														<label>Email<small class="text-danger"></small></label>
														<input type="email" class="form-control" id="email" name="email" placeholder="Email" value="">
													</div>
												</div>
												<div class="col-md-6 col-lg-6">
													<div class="form-group">
														<label>PAN<small class="text-danger">*</small></label>
														<input type="text" class="form-control" id="pan" name="pan" placeholder="PAN" value="" required>
													</div>
												</div>
											</div>

											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<label>Customer Status<small class="text-danger"> *</small></label>
													<select class="form-control select2 customer_status select2-hidden-accessible" name="customer_status" id="customer_status" required="" tabindex="-1" aria-hidden="true">
														<option value="" disabled="" selected="">Please Select Customer Status</option>
														<option value="Existing">Existing</option>
														<option value="New">New</option>
													</select>
												</div>
											</div>

											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<label>Start Date<small class="text-danger">*</small></label>
													<input type="date" class="form-control" id="s_date" name="s_date" required />
												</div>
											</div>
											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<label>End Date<small class="text-danger">*</small></label>
													<input type="date" class="form-control" id="e_date" name="e_date" readonly required />
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Interest Payout<small class="text-danger"> *</small></label>
													<select class="form-control select2 buy_type" name="interest_payout" id="interest_payout" required>
														<option value="" disabled selected>Please Select Interest Payout</option>
														<option value="Monthly">Monthly</option>
														<option value="Quaterly">Quaterly</option>
														<option value="Half Annually">Half Annually</option>
														<option value="Annually">Annually</option>
													</select>
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Company Name</label>
													<input type="text" class="form-control" placeholder="Company Name" id="comp_name" name="comp_name" required />
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Rate Of Interest</label>
													<input type="text" class="form-control" placeholder="Rate Of Interest" id="roi" name="roi" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1')" required />
												</div>
											</div>
											
											
											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<label>Tenure</label>
													<input type="number" class="form-control" placeholder="Tenure" id="tenure" name="tenure" required />
												</div>
											</div>
											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<label>Amount</label>
													<input type="number" class="form-control amt" placeholder="Amount" id="amt" name="amt" required />
												</div>
											</div>
											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<label>Brokerage in %</label>
													<input type="text" class="form-control b_percentage" placeholder="Brokerage in %" id="b_percentage" name="b_percentage" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1')" required />
												</div>
											</div>
											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<label>Brokerage in amount</label>
													<input type="number" class="form-control b_amt" placeholder="Brokerage in amount" id="b_amt" name="b_amt" readonly required />
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer text-right" style="width: 100%">
										<button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
										<button type="submit" name="submit" class="btn btn-success text-left">Submit</button>
									</div>
								</form>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->
					<!-- /.modal -->
					<div class="modal fade" id="edit_buy_fd_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form id="edit_buy_fd_form" action="" method="POST">
									{% csrf_token %}
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">Update FD/Bond/Ncd/PMS/AIF</h4>
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									</div>
									<div class="modal-body">
										{% comment %} <div class="row">
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>User Type<small class="text-danger"> *</small></label>
													<select name="u_type" id="u_type" class="form-control select2 u_type" data-search="True">
														<option value="" selected disabled>Select User Type</option>
														<option value="rm">Relationship Manager</option>
														<option value="ep">Easy Partner</option>
													</select>
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>User<small class="text-danger"> *</small></label>
													<select name="user" id="user" class="form-control select2 user">
														<option value="" selected disabled>Select User</option>
													</select>
												</div>
											</div>
										</div> {% endcomment %}
										<div class="row">
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Buy Type <small class="text-danger"> *</small></label>
													<select class="form-control select2 buy_type" name="buy_type" id="buy_type" required>
														<option value="" disabled selected>Please Select Buy Type</option>
														<option value="fd">FD</option>
														<option value="bond">BOND</option>
														<option value="ncd">NCD</option>
														<option value="pms">PMS</option>
														<option value="aif">AIF</option>
													</select>
												</div>
											</div>
											{% comment %} <div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Customer <small class="text-danger"> *</small></label>
													<select class="form-control select2 customer" name="customer" id="customer" required>
														<option value="" disabled selected>Please Select Customer</option>
													</select>
												</div>
											</div> {% endcomment %}
											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<label>Start Date<small class="text-danger">*</small></label>
													<input type="date" class="form-control" id="s_date" name="s_date" required />
												</div>
											</div>
											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<label>End Date<small class="text-danger">*</small></label>
													<input type="date" class="form-control" id="e_date" name="e_date" required />
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Company Name</label>
													<input type="text" class="form-control" placeholder="Company Name" id="comp_name" name="comp_name" required />
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Rate Of Interest</label>
													<input type="text" class="form-control" placeholder="Rate Of Interest" id="roi" name="roi" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1')" required />
												</div>
											</div>
											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<label>Tenure</label>
													<input type="number" class="form-control" placeholder="Tenure" id="tenure" name="tenure" required />
												</div>
											</div>
											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<label>Amount</label>
													<input type="number" class="form-control amt" placeholder="Amount" id="amt" name="amt" required />
												</div>
											</div>
											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<label>Brokerage in %</label>
													<input type="text" class="form-control b_percentage" placeholder="Brokerage in %" id="b_percentage" name="b_percentage" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1')" required />
												</div>
											</div>
											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<label>Brokerage in amount</label>
													<input type="number" class="form-control b_amt" placeholder="Brokerage in amount" id="b_amt" name="b_amt"  readonly required />
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer text-right" style="width: 100%">
										<button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
										<button type="submit" name="submit" class="btn btn-success text-left">Submit</button>
									</div>
								</form>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>

					<!-- /.modal -->
				</div>
			</div>
			<!-- /.content-wrapper -->
			{% include 'footer.html' %}

			<!-- Control Sidebar -->
			{% comment %} {% include 'control_sidebar.html' %} {% endcomment %}
			<!-- /.control-sidebar -->

			<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
			<div class="control-sidebar-bg"></div>
		</div>
		<!-- ./wrapper -->

		<!-- Vendor JS -->
		{% include 'script.html' %}
		<script src="/static/js/buy/buy_fd.js"></script>
		<!-- sweet alert  -->
		<script>
			$(".cancel-btn").on("click", function () {
				swal({
					title: "Are you sure ?",
					text: "Do you want to cancel your order ?",
					icon: "info",
					buttons: true,
					dangerMode: true,
				}).then((willDelete) => {
					if (willDelete) {
						$("#addModal").modal("show");
					}
				});
			});
		</script>
	</body>
</html>
