{% include 'header.html' %}
    <body class="hold-transition light-skin sidebar-mini theme-primary">

        <style type="text/css">
        .box-title{
            z-index: auto;
            font-size: 18px;
            font-weight: 500;
            color: #181C32;
        }
        .btn-primary {
            color: #fff;
            background-color: #007bff !important;
            border-color: #007bff !important;
        }
        .theme-primary .btn-primary {
            background-color: #007bff !important
            border-color: #007bff !important;
            color: #ffffff;
        }
        .theme-primary .btn-flat.btn-info {
            color: #007eff !important;
            background-color: #beddfd;
            border-color: transparent;
        }

        .btn.btn-flat {
            border-radius: 8px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-width: 1px;
        }

        .theme-primary .bg-primary {
            background-color: #103763 !important;
            color: #ffffff;
        }

        .box {
            position: relative;
            margin-bottom: 10px;
            width: 100%;
            background-color: #ffffff;
            border-radius: 10px;
            padding: 0px;
            -webkit-transition: .5s;
            transition: .5s;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            box-shadow: none;
            /*box-shadow: 0px 2px 5px 0px rgb(19 23 38 / 5%);*/
        }

        .line{
            border-bottom: 1px solid rgba(72, 94, 144, 0.16);
        }

        .box-body .box-title {
            display: inline-block;
            margin: 0;
            margin-bottom: 1rem;
            color: #103763;
            font-weight: 600;
        }

        .btn-inactive {
            color: #ed1a24 !important;
            background-color: #ffc6cb;
            border-color: transparent;
        }

        .hr_line {
            width: 100%;
        }

        .dataTables_wrapper .form-control {
              margin: 0px;
              padding: 5px 30px 5px 15px;
        }

        .card-btn {
            background-color: #fff;
        }

        .submit_btn-form {
           padding: 1.5rem 1.5rem;
        }

        .box_btn {
        position: absolute;
        margin-bottom: 10px;
        width: 100%;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 0px;
        -webkit-transition: .5s;
        transition: .5s;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        box-shadow: none;
        /* box-shadow: 0px 2px 5px 0px rgb(19 23 38 / 5%); */
        }

        .content-1 {
            min-height: 80px;
            padding: 10px 10px 0px 10px;
            margin-right: auto;
            margin-left: auto;
        }

         color: #3F4254;
    </style>


	    <div class="wrapper">
            {% include 'navbar.html' %}
            {% include 'sidebar.html' %}
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
            	    <div class="container-full">
                        <!-- Content Header (Page header) -->
                        {% comment %} <div class="content-header">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <div class="d-inline-block align-items-center">
                                        <nav>
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="index.php">
                                                        <i class="mdi mdi-home-outline"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item" aria-current="page">
                                                    <a href="project_management.php">
                                                        Project Management
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    <a href="javascript:void(0);">
                                                         Add Client Family
                                                    </a>
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>

                            </div>
                        </div> {% endcomment %}

                    
                        <!-- Main content -->
                        <section class="content">
                            {% include 'live_index.html' %}
                            <div class="row">

                                <div class="col-12">

                                    <div class="box">
                                        <div class="box-header with-border flexbox">
                                            <h3 class="box-title">
                                                Edit Easy Partner Brokerage
                                            </h3>
                                            <div class="text-right flex-grow">
                                                <a href="/easy_partner_brokerage">
                                                    <button type="button" class="btn btn-dark">Back</button>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /.box-header -->
                                        <form action="/edit_easy_partner_brokerage/{{sub_brokerage.id}}" method="POST">
                                            {% csrf_token %}
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-md-4 col-lg-4">
                                                        <div class="form-group">
                                                            <label>Effective Date<small class="text-danger">*</small></label>
                                                            <input type="date" class="form-control" placeholder="Effective Date" id="eff_date" name="eff_date" value="{{sub_brokerage.EFFECTIVE_DATE|date:"Y-m-d"}}" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-4">
                                                        <div class="form-group">
                                                            <label>Partner Name<small class="text-danger"> *</small></label>
                                                            <select class="form-control select2" name="partner_name" id="partner_name" required>
                                                                <option value="" disabled selected>Please Select Partner Name</option>
                                                                {% for i in data %}
                                                                    {% if sub_brokerage.PARTNER_NAME.id == i.id %}
                                                                        <option selected value="{{i.id}}">{{i.NAME}}</option>
                                                                    {% else %}
                                                                        <option value="{{i.id}}">{{i.NAME}}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-4">
                                                        <div class="form-group">
                                                            <label>AMC Name<small class="text-danger"> *</small></label>
                                                            <select class="form-control select2" name="amc_name" id="amc_name" required>
                                                                <option value="" disabled selected>Please Select AMC Name</option>
                                                                <option value="Marol">Marol</option>
                                                                <option value="Andheri">Andheri</option>
                                                                <option value="Powai">Powai</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 col-lg-4">
                                                        <div class="form-group">
                                                            <label>Trail %<small class="text-danger">*</small></label>
                                                            <input type="text" class="form-control" placeholder="Trail" id="trail" name="trail" value="{{sub_brokerage.TRAIL}}" required>
                                                        </div>
                                                    </div>
                                                    {% comment %} <div class="col-md-8 col-lg-8">
                                                        <div class="form-group">
                                                            <label>Note<small class="text-danger"></small></label>
                                                            <input type="text" class="form-control" placeholder="Address 2" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row"> {% endcomment %}
                                                    <div class="col-md-4 col-lg-4">
                                                        <div class="form-group">
                                                            <label>Additional Incentive %<small class="text-danger"></small></label>
                                                            <input type="text" class="form-control" placeholder="Additional Incentive" id="add_incentive" name="add_incentive" value="{{sub_brokerage.ADD_INCENTIVE}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-4">
                                                        <div class="form-group">
                                                            <label>For Type<small class="text-danger"> *</small></label>
                                                            <select class="form-control" name="for_type" id="for_type" required>
                                                                <option value="" disable selected>Please Select Type</option>
                                                                <option value="option1">option1</option>
                                                                <option value="option2">option2</option>
                                                                <option value="Both">Both</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label>Note<small class="text-danger"> *</small></label>
                                                            <input type="text" class="form-control" id="note" name="note" placeholder="Note" value="{{sub_brokerage.NOTE}}" required>
                                                        </div>
                                                    </div>
                                                <div class="text-right flex-grow">
                                                    <div class="col-md-12 col-lg-12">
                                                        <div class="submit_btn-form">
                                                            <button type="submit" class="btn_submit waves-effect waves-light btn btn-flat mb-5">Submit</button>
                                                                {% comment %} <a href="#">
                                                                </a> {% endcomment %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- /.box-body -->
                                        <!-- /.box-footer -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <!-- /.col -->
                            </div>
                        </section>
                        <!-- /.content -->


                        {% comment %} <section class="content-1">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box">
                                        <div class="text-right flex-grow">
                                            <div class="submit_btn-form">
                                                <a href="#">
                                                    <button type="button" class="btn btn-success btn-md">Submit</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                        </section>  {% endcomment %}
            	    </div>
                </div>
                 <!-- /.content-wrapper -->
            {% include 'footer.html' %}

             <!-- Control Sidebar -->
            {% comment %} {% include 'control_sidebar.html' %} {% endcomment %}
             <!-- /.control-sidebar -->

             <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
  
        </div>
        <!-- ./wrapper -->	 
	
        <!-- Vendor JS -->
        {% include 'script.html' %}
        <script>
            amc_data = "{{sub_brokerage.AMC_NAME}}"
            for_type_data = "{{sub_brokerage.TYPE}}"

            $("#amc_name").val(amc_data).change()
            $("#for_type").val(for_type_data).change()
        </script>
        {% comment %} <script>
            var dateToday = new Date();
                $('.date').datepicker({
                //'startDate': dateToday,
                multidate: false,
                format: 'dd-mm-yyyy'
            })
        </script>
        <script>
            $(function() {
                $(".date").datepicker();
                $(".date").on("change",function(){
                    var selected = $(this).val();
                    console.log("date",selected)
                   // alert(selected);
                });
            });
        </script> {% endcomment %}
        </script>
	
    </body>
</html>
