<style>
    .nifty{
        color:green !important;
    }
</style>
<div class="row mb-20">
    <div class="col-12">
        <div class="box-header with-border flexbox common_nav" style="background: white;">
            <div class="col-lg-1 col-sm-12">
                <span><h4 class="text-mute mb-0">SENSEX</h4></span>
            </div>
            <div class="col-lg-2 col-sm-12">
                <p class="text-mute mb-0 nifty">59116.8(+85.50)</p>
            </div>
            <div class="col-lg-1 col-sm-12">
            </div>
            <div class="col-lg-1 col-sm-12">
                <h4 class="text-mute mb-0">NIFTY</h4>
            </div>
            <div class="col-lg-2 col-sm-12">
                <p class="text-mute mb-0 nifty">17606.6(+29.10)</p>
            </div>
            <div class="col-lg-5 col-sm-12">
                <p class="text-mute mb-0"></p>
            </div>
        </div>
    </div>
</div>