<html>
	{% include 'header.html' %}
	<body class="hold-transition light-skin sidebar-mini theme-primary">
		<style type="text/css">
			.box-title {
				z-index: auto;
				font-size: 18px;
				font-weight: 500;
				color: #181c32;
			}
			.dropdown-item {
				color: #475f7b;
				font-weight: 500;
				padding: 4px 12px;
				width: auto;
				margin: 4px;
				-webkit-transition: 0.15s linear;
				transition: 0.15s linear;
			}

			.theme-primary .show > .btn-primary.dropdown-toggle {
				background-color: #103763 !important;
				border-color: #103763 !important;
				color: #ffffff;
			}

			.theme-primary .nav-tabs .nav-link.active:hover,
			.theme-primary .nav-tabs .nav-link.active:focus {
				border-bottom-color: #a6ce39;
				background-color: #a6ce39;
				color: #ffffff;
			}

			.theme-primary .nav-tabs .nav-link.active {
				border-bottom-color: #a6ce39;
				background-color: #a6ce39;
				color: #ffffff;
			}

			color: #3f4254;
		</style>
		<div class="wrapper">
			{% include 'navbar.html' %} {% include 'sidebar.html' %}

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<div class="container-full">
					<!-- Content Header (Page header) -->
					{% comment %}
					<div class="content-header">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<div class="d-inline-block align-items-center">
									<nav>
										<ol class="breadcrumb">
											<li class="breadcrumb-item">
												<a href="index.php">
													<i class="mdi mdi-home-outline"></i>
												</a>
											</li>
											<li class="breadcrumb-item active" aria-current="page">
												<a href="javascript:void(0);"> Scheme Master </a>
											</li>
										</ol>
									</nav>
								</div>
							</div>
						</div>
					</div>
					{% endcomment %}

					<!-- Main content -->
					<section class="content">
						{% include 'live_index.html' %}
						<div class="row">
							<div class="col-12">
								<div class="box box-default">
									<div class="box-header with-border flexbox">
										<h4 class="box-title">Payment List</h4>
										<div class="text-right flex-grow">
											<button class="btn btn-danger" data-toggle="modal" data-target="#add_pay_out_modal">Add Pay Out</button>
										</div>
									</div>
									<!-- /.box-header -->
									<div class="box-body">
										<div class="table-responsive">
											<table class="table table-bordered" id="pay_out_history_table">
                        <thead>
                          <tr>
                            <th>Sr No.</th>
                            <th>Paid Amount</th>
                            <th>Transaction/Check No</th>
                            <th>Transaction Date</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>dcas</td>
                            <td>sdf</td>
                            <td>
                              <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="will-change: transform;">
                                  <a class="dropdown-item edit" data-toggle="modal" href="javascript:void(0);" data-id="5" data-target="#edit_pay_out_modal"><i class="fa fa-edit" aria-hidden="true"></i>Edit</a>
                                  <a class="dropdown-item delete" href="javascript:void(0);" data-id="5"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>
                                </div>
                            </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
										</div>
									</div>
									<!-- /.box-body -->
								</div>
								<!-- /.box -->
							</div>

							<!-- /.col -->
						</div>
						<!-- /.row -->
					</section>
					<!-- /.content -->
					<!-- /.modal -->

					<div class="modal fade" id="add_pay_out_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form id="add_pay_out_form" action="/" method="POST">
									{% csrf_token %}
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">Add Pay Out</h4>
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Select EP<small class="text-danger"> *</small></label>
													<select name="ep" id="ep" class="form-control select2 ep" data-search="True">
														<option value="" selected disabled>Select EP</option>
													</select>
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Paid Amount <small class="text-danger">*</small></label>
													<input type="number" class="form-control" id="amount" name="amount" placeholder="Paid Amount" required />
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Transaction/Check No <small class="text-danger">*</small></label>
													<input type="text" class="form-control" id="transaction_check_no" name="transaction_check_no" placeholder="Transaction/Check No" required />
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Transaction Date <small class="text-danger">*</small></label>
													<input type="date" class="form-control" id="transaction_date" name="transaction_date" placeholder="Transaction Date" required />
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer text-right" style="width: 100%">
										<button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
										<button type="submit" name="submit" class="btn btn-success text-left">Submit</button>
									</div>
								</form>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>

					<div class="modal fade" id="edit_pay_out_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form id="edit_pay_out_form" action="/edit_pay_out" method="POST">
									{% csrf_token %}
                  <input type="hidden" name="id" id="id">
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">Out Payment</h4>
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Select EP<small class="text-danger"> *</small></label>
													<select name="ep" id="ep" class="form-control select2 ep" data-search="True">
														<option value="" selected disabled>Select EP</option>
													</select>
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Paid Amount <small class="text-danger">*</small></label>
													<input type="number" class="form-control" id="amount" name="amount" placeholder="Paid Amount" required />
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Transaction/Check No <small class="text-danger">*</small></label>
													<input type="text" class="form-control" id="transaction_check_no" name="transaction_check_no" placeholder="Transaction/Check No" required />
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Transaction Date <small class="text-danger">*</small></label>
													<input type="date" class="form-control" id="transaction_date" name="transaction_date" placeholder="Transaction Date" required />
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer text-right" style="width: 100%">
										<button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
										<button type="submit" name="submit" class="btn btn-success text-left">Submit</button>
									</div>
								</form>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>

					<div class="modal fade" id="pay_out_history_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">Out Payment</h4>
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									</div>
									<div class="modal-body">
										<table class="table table-bordered" id="pay_out_history_table">
											<thead>
												<tr>
													<th>Sr No.</th>
													<th>Paid Amount</th>
													<th>Transaction/Check No</th>
													<th>Transaction Date</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>1</td>
													<td>dcas</td>
													<td>sdf</td>
													<td>
														<div class="dropdown">
															<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															Action
															</button>
															<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="will-change: transform;">
																<a class="dropdown-item edit" data-toggle="modal" href="javascript:void(0);" data-id="5" data-target="#edit_pay_out_modal"><i class="fa fa-edit" aria-hidden="true"></i>Edit</a>
																<a class="dropdown-item delete" href="javascript:void(0);" data-id="5"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>
															</div>
													</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="modal-footer text-right" style="width: 100%">
										<button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
										<button type="submit" name="submit" class="btn btn-success text-left">Submit</button>
									</div>
								</form>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>

					<!-- /.modal -->
				</div>
			</div>
			<!-- /.content-wrapper -->
			{% include 'footer.html' %}

			<!-- Control Sidebar -->
			{% comment %} {% include 'control_sidebar.html' %} {% endcomment %}
			<!-- /.control-sidebar -->

			<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
			<div class="control-sidebar-bg"></div>
		</div>
		<!-- ./wrapper -->

		<!-- Vendor JS -->
		{% include 'script.html' %}
		<!-- sweet alert  -->
		<script>
			$(".cancel-btn").on("click", function () {
				swal({
					title: "Are you sure ?",
					text: "Do you want to cancel your order ?",
					icon: "info",
					buttons: true,
					dangerMode: true,
				}).then((willDelete) => {
					if (willDelete) {
						$("#addModal").modal("show");
					}
				});
			});
		</script>
		<script src="/static/js/payment/payout_history.js"></script>
	</body>
</html>
