{% include 'header.html' %}
    <body class="hold-transition light-skin sidebar-mini theme-primary">

    <style type="text/css">
        .box-title{
            z-index: auto;
            font-size: 18px;
            font-weight: 500;
            color: #181C32;
        }

        .theme-primary .btn-flat.btn-danger {
            color: #ed1a24 !important;
            background-color: #ffc6cb;
            border-color: transparent;
        }

        .theme-primary .btn-flat.btn-success {
            color: #2a8853 !important;
            background-color: #C9F7F5;
            border-color: transparent;
        }

        .btn.btn-flat {
            border-radius: 8px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-width: 1px;
        }

        .dropdown-item {
            color: #475F7B;
            font-weight: 500;
            padding: 4px 12px;
            width: auto;
            margin: 4px;
            -webkit-transition: 0.15s linear;
            transition: 0.15s linear;
        }

        .theme-primary .show > .btn-primary.dropdown-toggle {
            background-color: #103763 !important;
            border-color: #103763 !important;
            color: #ffffff;
        }
        

        /*.theme-primary a:hover, .theme-primary a:focus {
            color: #a6ce39;
        }
*/
        .red:hover{
            color: #f10e0e;
        }
        .blue:hover{
            color: #f10e0e;
        } 

        color: #3F4254;
    </style>

	    <div class="wrapper">
            {% include 'navbar.html' %}
            {% include 'sidebar.html' %}
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
            	    <div class="container-full">
                        <!-- Content Header (Page header) -->
                        {% comment %} <div class="content-header">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <div class="d-inline-block align-items-center">
                                        <nav>
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="index.php">
                                                        <i class="mdi mdi-home-outline"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    <a href="javascript:void(0);">
                                                         Project Management
                                                    </a>
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>

                            </div>
                        </div> {% endcomment %}

                        <!-- Main content -->
                        <section class="content">
                            {% include 'live_index.html' %}
                            <div class="row">

                                <div class="col-12">

                                    <div class="box">
                                        <div class="box-header with-border flexbox">
                                            <h3 class="box-title">
                                                Relationship Manager
                                            </h3>
                                            <div class="text-right flex-grow">
                                                <a href="/add_relationship_manager"><button class="btn btn-primary">Add Relationship Manager</button></a>
                                            </div>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="table-responsive">
                                                <table id="rm_table_data" class="data_tbl table table-bordered" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr. No.</th>
                                                            <th>Branch Manager</th>
                                                            <th>Emp Code</th>
                                                            {% comment %} <th>RM Name , Username</th> {% endcomment %}
                                                            <th>RM Name</th>
                                                            <th>Username</th>
                                                            <th>Pan No</th>
                                                            {% comment %} <th>Location</th> {% endcomment %}
                                                            <th>DOB</th>
                                                            <th>Phone No</th>
                                                            <th>Mobile</th>
                                                            <th>Email</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                      
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>
                        <!-- /.content -->
                        <!-- /.modal -->

                        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">

                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Add Client Family</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-bordered" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Sr. No.</th>
                                                        <th>Head Name</th>
                                                        <th>Client Name</th>
                                                        <th width="5%">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Salvatore Wucket</td>
                                                        <td>Salvatore.Wucket@hotmail.com</td>
                                                        <td>
                                                            <a class="dropdown-item"  data-toggle="modal" href="javascript:void(0);" data-target=""><button type="button" class="delete_btn waves-effect waves-light btn btn-flat mb-5"><i class="fa fa-trash-o"></i>Delete</button></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Carol Trophy</td>
                                                        <td>Carol.Trophy64@yahoo.com</td>
                                                        <td>
                                                            <a class="dropdown-item"  data-toggle="modal" href="javascript:void(0);" data-target=""><button type="button" class="delete_btn waves-effect waves-light btn btn-flat mb-5"><i class="fa fa-trash-o"></i>Delete</button></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Darryl Morar</td>
                                                        <td>Darryl47@hotmail.com</td>
                                                        <td>
                                                            <a class="dropdown-item"  data-toggle="modal" href="javascript:void(0);" data-target=""><button type="button" class="delete_btn waves-effect waves-light btn btn-flat mb-5"><i class="fa fa-trash-o"></i>Delete</button></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer text-right" style="width: 100%;">
                                            <button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
                                            {% comment %} <button type="submit" name="submit" class="btn btn-success text-left">Submit</button> {% endcomment %}
                                        </div>
                                   
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <div class="modal fade" id="loginModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form id="" class="create_login" action="" method="POST" >
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Create Login</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Username<small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="" name="user_id" id="user_id" hidden>
                                                        <input type="text" class="form-control" placeholder="" value="rm" name="user_type" id="user_type" readonly hidden>
                                                        <input type="text" class="form-control" placeholder="Username" value="" name="username" id="username" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <label>Create Password <small class="text-danger">*</small></label>
                                                    <div class="input-group form-group">
                                                        <input id="password" type="password" class="form-control input_color" name="password" placeholder="Enter your password" required>
                                                        <div class="input-group-append show_pass" style="cursor:pointer;">
                                                            <span class="input-group-text">
                                                                <i class="fa fa-eye"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <label>Confirm Password <small class="text-danger">*</small></label>
                                                    <div class="input-group form-group">
                                                        <input id="password1" type="password" class="form-control input_color" name="password1" placeholder="Enter your password" required>
                                                        <div class="input-group-append show_pass" style="cursor:pointer;">
                                                            <span class="input-group-text">
                                                                <i class="fa fa-eye"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-right" style="width: 100%;">
                                            <button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
                                            <button type="submit" name="submit" class="btn btn-success text-left">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>

            	    </div>
                </div>
                <!-- /.content-wrapper -->
            {% include 'footer.html' %}

             <!-- Control Sidebar -->
            {% comment %} {% include 'control_sidebar.html' %} {% endcomment %}
             <!-- /.control-sidebar -->

             <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
  
        </div>
        <!-- ./wrapper -->	 
	
        <!-- Vendor JS -->
        {% include 'script.html' %}
        <script src="/static/js/master/rm.js"></script>
        <script src="/static/js/login/create_login.js"></script>

        
        <!-- sweet alert  -->
        <script>
            $('.cancel-btn').on('click',function(){
                 swal({
            title: "Are you sure ?",
            text: "Do you really want to delete ?", 
            icon: "info",
            buttons: true,
            dangerMode: true,
        })
         .then((willDelete) => {
          if (willDelete) {
            swal("Deleted Successfully!", {
              icon: "success",
            });
          }
        });
        // .then((willDelete) => {
        //   if (willDelete) {
        //     $('#addModal').modal('show')
        //   }
        // })
            })
           
        </script>
	
    </body>
</html>
