{% include 'header.html' %}
    <body class="hold-transition light-skin sidebar-mini theme-primary">

    <style type="text/css">
        .box-title{
            z-index: auto;
            font-size: 18px;
            font-weight: 500;
            color: #181C32;
        }

        .theme-primary .btn-flat.btn-danger {
            color: #ed1a24 !important;
            background-color: #ffc6cb;
            border-color: transparent;
        }

        .theme-primary .btn-flat.btn-success {
            color: #2a8853 !important;
            background-color: #C9F7F5;
            border-color: transparent;
        }

        .btn.btn-flat {
            border-radius: 8px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-width: 1px;
        }

        .dropdown-item {
            color: #475F7B;
            font-weight: 500;
            padding: 4px 12px;
            width: auto;
            margin: 4px;
            -webkit-transition: 0.15s linear;
            transition: 0.15s linear;
        }

        .theme-primary .show > .btn-primary.dropdown-toggle {
            background-color: #103763 !important;
            border-color: #103763 !important;
            color: #ffffff;
        }
        

        /*.theme-primary a:hover, .theme-primary a:focus {
            color: #a6ce39;
        }
*/
        .red:hover{
            color: #f10e0e;
        }
        .blue:hover{
            color: #f10e0e;
        } 

        color: #3F4254;
    </style>

	    <div class="wrapper">
            {% include 'navbar.html' %}
            {% include 'sidebar.html' %}
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
            	    <div class="container-full">
                        <!-- Content Header (Page header) -->
                        {% comment %} <div class="content-header">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <div class="d-inline-block align-items-center">
                                        <nav>
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="index.php">
                                                        <i class="mdi mdi-home-outline"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    <a href="javascript:void(0);">
                                                         Project Management
                                                    </a>
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>

                            </div>
                        </div> {% endcomment %}

                        <!-- Main content -->
                        <section class="content">
                            {% include 'live_index.html' %}
                            <div class="row">

                                <div class="col-12">

                                    <div class="box">
                                        <div class="box-header with-border flexbox">
                                            <h3 class="box-title">
                                                SIP Report
                                            </h3>
                                            {% comment %} <div class="text-right flex-grow">
                                                <a href="/add_mf_manually"><button class="btn btn-primary">Add MF Manually</button></a>
                                            </div> {% endcomment %}
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs customtab2" role="tablist">
                                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#live_sip" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ion-home"></i></span> <span class="hidden-xs-down">Live SIP</span></a> </li>
                                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#deactivated_sip" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">Deactivated SIP</span></a> </li>
                                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#new_sip" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">New/Reg. SIP</span></a> </li>
                                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#terminating_sip" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">Terminating SIP</span></a> </li>
                                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#sip_due_date" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">SIP Due Date</span></a> </li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="live_sip" role="tabpanel">
                                                    <form action="">
                                                        <div class="box-body">
                                                            <div class="row">
                                                                <div class="col-md-4 col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>AMC Name<small class="text-danger"> *</small></label>
                                                                        <select class="form-control" name="" id="">
                                                                            <option disable selected>Please Select AMC Name</option>
                                                                            <option value="">Both</option>
                                                                            <option value="">Both</option>
                                                                            <option value="">Both</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>ARN No<small class="text-danger"> *</small></label>
                                                                        <select class="form-control" name="" id="">
                                                                            <option disable selected>Please Select ARN No</option>
                                                                            <option value="">Both</option>
                                                                            <option value="">Both</option>
                                                                            <option value="">Both</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br><br><br><br>
                                                            <div class="text-right flex-grow">
                                                                <div class="col-md-12 col-lg-12">
                                                                    <div class="submit_btn-form">
                                                                        {% comment %} <a href="#">
                                                                            <button type="button" class="btn_remove waves-effect waves-light btn btn-flat mb-5">Remove</button>
                                                                        </a>&nbsp;&nbsp; {% endcomment %}
                                                                        <a  href="#">
                                                                            <button type="button" class="btn_report waves-effect waves-light btn btn-flat mb-5" >Report</button>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <br><br><br>
                                                    <div class="row">
                                                        <div class="col-md-0.8 col-lg-0.8">
                                                            <img src="/static/images/info-icon.png" alt="" style="height: 18px;">
                                                        </div>
                                                        <div class="col-md-11 col-lg-11 ml-4">
                                                            <h5>Note:</h5>
                                                            <div style="font-size: 11px;">
                                                                <p>1. Select As On Date.</p>
                                                                <p>2. Then Select Head Name, of which you want to generate report</p>
                                                                <p>3. You will find all members name in client name list of selected head name</p>
                                                                <p>4. Select --ALL--to generate family report otherwise you can generate individual member's report also.</p>
                                                                <p>5. Select Only client name if you wish to generate particular client wise report.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="deactivated_sip" role="tabpanel">
                                                    <form action="">
                                                        <div class="box-body">
                                                            <br><br><br><br>
                                                            <div class="text-middle flex-grow">
                                                                <div class="col-md-12 col-lg-12">
                                                                    <div class="submit_btn-form" align="center">
                                                                        {% comment %} <a href="#">
                                                                            <button type="button" class="btn_remove waves-effect waves-light btn btn-flat mb-5">Remove</button>
                                                                        </a>&nbsp;&nbsp; {% endcomment %}
                                                                        <a  href="#">
                                                                            <button type="button" class="btn_report waves-effect waves-light btn btn-flat mb-5" >Show My Deactivate SIP</button>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <br><br><br>
                                                    <div class="row">
                                                        <div class="col-md-0.8 col-lg-0.8">
                                                            <img src="/static/images/info-icon.png" alt="" style="height: 18px;">
                                                        </div>
                                                        <div class="col-md-11 col-lg-11 ml-4">
                                                            <h5>Note:</h5>
                                                            <div style="font-size: 11px;">
                                                                <p>1. Select As On Date.</p>
                                                                <p>2. Then Select Head Name, of which you want to generate report</p>
                                                                <p>3. You will find all members name in client name list of selected head name</p>
                                                                <p>4. Select --ALL--to generate family report otherwise you can generate individual member's report also.</p>
                                                                <p>5. Select Only client name if you wish to generate particular client wise report.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="new_sip" role="tabpanel">
                                                    <form action="">
                                                        <div class="box-body">
                                                            <div class="row">
                                                                <div class="col-md-4 col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>Select Dates<small class="text-danger">*</small></label>
                                                                        <input class="form-control" type="date" name="date">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>ARN No<small class="text-danger"> *</small></label>
                                                                        <select class="form-control" name="" id="">
                                                                            <option disable selected>Please Select ARN No</option>
                                                                            <option value="">Both</option>
                                                                            <option value="">Both</option>
                                                                            <option value="">Both</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>AMC Name<small class="text-danger"> *</small></label>
                                                                        <select class="form-control" name="" id="">
                                                                            <option disable selected>Please Select AMC Name</option>
                                                                            <option value="">Both</option>
                                                                            <option value="">Both</option>
                                                                            <option value="">Both</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br><br><br><br>
                                                            <div class="text-right flex-grow">
                                                                <div class="col-md-12 col-lg-12">
                                                                    <div class="submit_btn-form">
                                                                        {% comment %} <a href="#">
                                                                            <button type="button" class="btn_remove waves-effect waves-light btn btn-flat mb-5">Remove</button>
                                                                        </a>&nbsp;&nbsp; {% endcomment %}
                                                                        <a  href="#">
                                                                            <button type="button" class="btn_report waves-effect waves-light btn btn-flat mb-5" >Report</button>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <br><br><br>
                                                    <div class="row">
                                                        <div class="col-md-0.8 col-lg-0.8">
                                                            <img src="/static/images/info-icon.png" alt="" style="height: 18px;">
                                                        </div>
                                                        <div class="col-md-11 col-lg-11 ml-4">
                                                            <h5>Note:</h5>
                                                            <div style="font-size: 11px;">
                                                                <p>1. Select As On Date.</p>
                                                                <p>2. Then Select Head Name, of which you want to generate report</p>
                                                                <p>3. You will find all members name in client name list of selected head name</p>
                                                                <p>4. Select --ALL--to generate family report otherwise you can generate individual member's report also.</p>
                                                                <p>5. Select Only client name if you wish to generate particular client wise report.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="terminating_sip" role="tabpanel">
                                                    <form action="">
                                                        <div class="box-body">
                                                            <div class="row">
                                                                <div class="col-md-4 col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>Select Dates<small class="text-danger">*</small></label>
                                                                        <input class="form-control" type="date" name="date">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br><br><br><br>
                                                            <div class="text-right flex-grow">
                                                                <div class="col-md-12 col-lg-12">
                                                                    <div class="submit_btn-form">
                                                                        {% comment %} <a href="#">
                                                                            <button type="button" class="btn_remove waves-effect waves-light btn btn-flat mb-5">Remove</button>
                                                                        </a>&nbsp;&nbsp; {% endcomment %}
                                                                        <a  href="#">
                                                                            <button type="button" class="btn_report waves-effect waves-light btn btn-flat mb-5" >Report</button>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <br><br><br>
                                                    <div class="row">
                                                        <div class="col-md-0.8 col-lg-0.8">
                                                            <img src="/static/images/info-icon.png" alt="" style="height: 18px;">
                                                        </div>
                                                        <div class="col-md-11 col-lg-11 ml-4">
                                                            <h5>Note:</h5>
                                                            <div style="font-size: 11px;">
                                                                <p>1. Select As On Date.</p>
                                                                <p>2. Then Select Head Name, of which you want to generate report</p>
                                                                <p>3. You will find all members name in client name list of selected head name</p>
                                                                <p>4. Select --ALL--to generate family report otherwise you can generate individual member's report also.</p>
                                                                <p>5. Select Only client name if you wish to generate particular client wise report.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="sip_due_date" role="tabpanel">
                                                    <form action="">
                                                        <div class="box-body">
                                                            <div class="row">
                                                                <div class="col-md-4 col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>Select Dates<small class="text-danger">*</small></label>
                                                                        <input class="form-control" type="date" name="date">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br><br><br><br>
                                                            <div class="text-right flex-grow">
                                                                <div class="col-md-12 col-lg-12">
                                                                    <div class="submit_btn-form">
                                                                        {% comment %} <a href="#">
                                                                            <button type="button" class="btn_remove waves-effect waves-light btn btn-flat mb-5">Remove</button>
                                                                        </a>&nbsp;&nbsp; {% endcomment %}
                                                                        <a  href="#">
                                                                            <button type="button" class="btn_report waves-effect waves-light btn btn-flat mb-5" >Report</button>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <br><br><br>
                                                    <div class="row">
                                                        <div class="col-md-0.8 col-lg-0.8">
                                                            <img src="/static/images/info-icon.png" alt="" style="height: 18px;">
                                                        </div>
                                                        <div class="col-md-11 col-lg-11 ml-4">
                                                            <h5>Note:</h5>
                                                            <div style="font-size: 11px;">
                                                                <p>1. Select As On Date.</p>
                                                                <p>2. Then Select Head Name, of which you want to generate report</p>
                                                                <p>3. You will find all members name in client name list of selected head name</p>
                                                                <p>4. Select --ALL--to generate family report otherwise you can generate individual member's report also.</p>
                                                                <p>5. Select Only client name if you wish to generate particular client wise report.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>
                        <!-- /.content -->
                        <!-- /.modal -->

                        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-xl">
                                <div class="modal-content">

                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Add Client Family</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-bordered" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Sr. No.</th>
                                                        <th>BSE SM Member ID</th>
                                                        <th>BSE SM User ID</th>
                                                        <th>BSE SM Password</th>
                                                        <th>ARN Code</th>
                                                        <th>EUIN No</th>
                                                        <th width="5%">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Salvatore Wuckert</td>
                                                        <td>Aakash Dattatrey Dalvi</td>
                                                        <td>GHDFD256987</td>
                                                        <td>GHDFD256987</td>
                                                        <td>GHDFD256987</td>
                                                        <td>
                                                            <a class="dropdown-item"  data-toggle="modal" href="javascript:void(0);" data-target=""><button type="button" class="delete_btn waves-effect waves-light btn btn-flat mb-5"><i class="fa fa-trash-o"></i>Delete</button></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Salvatore Wuckert</td>
                                                        <td>DATTATRAY BALKRISHNA DALVI</td>
                                                        <td>GHDFD256987</td>
                                                        <td>GHDFD256987</td>
                                                        <td>GHDFD256987</td>
                                                        <td>
                                                            <a class="dropdown-item"  data-toggle="modal" href="javascript:void(0);" data-target=""><button type="button" class="delete_btn waves-effect waves-light btn btn-flat mb-5"><i class="fa fa-trash-o"></i>Delete</button></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Salvatore Wuckert</td>
                                                        <td>SUVIDHA GANESH PATIL</td>
                                                        <td>GHDFD256987</td>
                                                        <td>GHDFD256987</td>
                                                        <td>GHDFD256987</td>
                                                        <td>
                                                            <a class="dropdown-item"  data-toggle="modal" href="javascript:void(0);" data-target=""><button type="button" class="delete_btn waves-effect waves-light btn btn-flat mb-5"><i class="fa fa-trash-o"></i>Delete</button></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer text-right" style="width: 100%;">
                                            <button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
                                            {% comment %} <button type="submit" name="submit" class="btn btn-success text-left">Submit</button> {% endcomment %}
                                        </div>

                                   
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>

            	    </div>
                </div>
                <!-- /.content-wrapper -->
            {% include 'footer.html' %}

             <!-- Control Sidebar -->
            {% comment %} {% include 'control_sidebar.html' %} {% endcomment %}
             <!-- /.control-sidebar -->

             <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
  
        </div>
        <!-- ./wrapper -->	 
	
        <!-- Vendor JS -->
        {% include 'script.html' %}

        <!-- sweet alert  -->
        <script>
            $('.cancel-btn').on('click',function(){
                 swal({
            title: "Are you sure ?",
            text: "Do you really want to delete ?", 
            icon: "info",
            buttons: true,
            dangerMode: true,
        })
         .then((willDelete) => {
          if (willDelete) {
            swal("Deleted Successfully!", {
              icon: "success",
            });
          }
        });
        // .then((willDelete) => {
        //   if (willDelete) {
        //     $('#addModal').modal('show')
        //   }
        // })
            })
           
        </script>
	
    </body>
</html>
